
<div ng-controller="BuildCtrl" class="buildCards">


	<div class="col-xs-6">
			<h1>Create a Question</h1>
		<div>
				<form>
					<input type="text" ng-model="addBlackCard" placeholder="Enter Question">
					<button ng-click="update(addBlackCard); togglefrontBlack(); togglebackBlack()" class="btn btn-success"> Preview</button>
				</form>
				<br>
					<section class="newBlackCard">
							<div ng-show="frontBlack">
								<p> {{togglefrontBlack}}</p>
								<p>Cards Against Humanity</p>
							</div>
							<div ng-show="backBlack">
								<p>{{addBlackCard}}</p>
								<p> {{togglebackBlack}}</p>
							</div>
					</section>
		</div>			
	</div>


	<div class="col-xs-6">
			<h1>Create an Answer</h1>
		<div>
				<form>
					<input type="text" ng-model="addWhiteCard" placeholder="Enter Answer">
					<button ng-click="create(addWhiteCard); togglefrontWhite(); togglebackWhite()" class="btn btn-success">Preview</button>
				</form>
				<br>
					<section class="newWhiteCard">
						<div ng-show="fronWhite">
							<p style="color: black">Cards Against Humanity</p>
							<p>{{togglefrontWhite}}</p>
						</div>
						<div ng-show="backWhite">
							<p>{{addWhiteCard}}</p>
							<p>{{togglebackWhite}}</p>
						</div>
					</section>
		 </div>
	</div>
</div>
<br>
<input type="submit" name="submit" class="btn btn-success" ng-click="">
<input type="submit" name="submit" class="btn btn-success" ng-click="">