
<div ng-controller="BuildCtrl" class="buildCards">


	<div class="col-xs-6">
			<h1>Create a Question</h1>
		<div>
				<form>
					<input type="text" ng-model="addBlackCard" placeholder="Enter Question">
					<button ng-click="update(addBlackCard,radiobtn); togglefrontBlack(); togglebackBlack()" class="btn btn-success"> Preview</button>
					<button ng-click="createcustomBlack()" class="btn btn-success">Submit</button>

				</form>
				<br>
					<section class="newBlackCard">
							<div ng-show="frontBlack">
								<p> {{togglefrontBlack}}</p>
								<p>Cards Against Humanity</p>
							</div>
							<div ng-show="backBlack">
								<p>{{addBlackCard}}</p>
								<p> {{togglebackBlack}}</p>
							</div>
					</section>
					<strong>Blank spaces needed to answer question:</strong>
					<br>
				<section class="radio">
					<label class="Radio-inline">
  						<input type="radio" id="inlineRadio1" value="1" ng-model="radiobtn"> 1 </label>
					<label class="Radio-inline">
  						<input type="radio" id="inlineRadio2" value="2" ng-model="radiobtn"> 2 </label>
					<label class="Radio-inline">
  						<input type="radio" id="inlineRadio3" value="3" ng-model="radiobtn"> 3 </label>
  				</section>
		</div>			
	</div>


	<div class="col-xs-6">
			<h1 style="width: 300px;">Create an Answer</h1>
		<div>
				<form>
					<input type="text" ng-model="addWhiteCard" placeholder="Enter Answer">
					<button ng-click="create(addWhiteCard); togglefrontWhite(); togglebackWhite()" class="btn btn-success">Preview</button>
					<button ng-click="createcustomWhite()" class="btn btn-success">Submit</button>
				</form>
				<br>
					<section class="newWhiteCard">
						<div ng-show="frontWhite">
							<p>{{togglefrontWhite}}</p>
							<p>Cards Against Humanity</p>
						</div>
						<div ng-show="backWhite">
							<p>{{addWhiteCard}}</p>
							<p>{{togglebackWhite}}</p>
						</div>
					</section>
		 </div>
	</div>
</div>
<br>