<div class="text-center">
		<h1>Cards Against Humanity</h1>
		<p><strong>Multiplayer online game of Cards Against Humanity, a party game for horrible people.</strong></p>
		<b>Invite Friends: </b><input size="50" value={{privateRoom}} disabled>
		<br />
		<form class="form-group" ng-submit="join()" ng-hide="mynickname">
		    <input type="text" ng-model="playerInput" size="50" placeholder="Nickname" class="nickname-input">
		    <input class="btn btn-primary"type="submit" value="Join Game">
		</form>
		<br>
		<div ng-repeat="x in playerList">
			<p class="nickname">{{x.nickname}} <span ng-show="x.nickname === mynickname"><i class="fa fa-hand-o-left" aria-hidden="true"></i></span></p>
		</div>

		<label ng-repeat="d in decks track by $index">{{d.name}}
				<input ng-model="d.selected" type="checkbox" value="{{d._id}}">
		</label><br/>

		<a ng-show="playerList.length >= 3 && playerList.length <= 10" class="btn btn-success" value="Start Game" ng-click="startGame()" >Start Game</a>
		<br><br>
		<p class="white"><strong>{{ errorMessage }}</strong></p>
</div>
