<div class="row">
  <div class="col-xs-10">
    <div class="jumbotron">
      <h3 class="text-center" ng-model="round" ng-show="round !== -1">Round {{round}}</h3>
      <h4 class="text-center" ng-show="cardCzar !== 0 && !czarPicking && !roundWinner">{{cardCzar}} is the Card Czar</h4>
      <h4 class="text-center" ng-show="cardCzar !== 0 && czarPicking && !winnerSelected">{{cardCzar}} is picking an answer...</h4>
      <h4 class="text-center" ng-show="cardCzar !== 0 && winnerSelected">{{roundWinner}} got +1 appletini!</h4>
      <div class="row">
        <div class='col-xs-3'>
          <div class='card'>
            <h4 class="card-title">{{blackCard.question}}</h4>
            <h6>Cards Against Humanity</h6>
          </div>
        </div>
        <div class="card card-back col-xs-3" ng-show="(mynickname === nicknames[0] && cardCzar === 0 ) || (winnerSelected && cardCzar === mynickname)" ng-click="drawBlackCard()">
          <h4>Cards <br> Against <br> Humanity</h4>
          <h3>Draw Card</h3>
        </div>
      </div>
      <div class="row">
        <div class='col-xs-3' ng-repeat="a in submittedAnswers track by $index">
          <div class='answer-card' ng-class="{selected: submittedAnswers[$index].nickname === roundWinner}" ng-click="!czarPicking || chooseWinningcard($index)">
            <h4 class="card-title" ng-show="czarPicking">{{a.answer}}</h4>
            <h4 ng-show="czarPicking && blanks > 1" class="text-center">{{a.order}}</h4>
            <h6>Cards Against Humanity</h6>
          </div>
        </div>
        <button class="btn btn-primary" ng-show="czarPicking && cardCzar === mynickname && !winnerSelected" ng-click="selectWinningAnswer()">Select Winner</button>
      </div>
    </div>
    <div class="jumbotron">
      <div class="row">
        <div class="col-xs-6">
          <h4 class="text-left">Hello, <strong>{{mynickname}}</strong></h4>
          <h4 ng-model="myscore">Score: {{myscore}}</h4>
        </div>
        <div class="col-xs-6">
          <h4 class="text-right" ng-show="cardCzar === mynickname"><strong>You</strong> are Card CZAR</h4>
        </div>
      </div>
      <div class="row">
        <div class='col-xs-3' ng-repeat="card in myCards track by $index">
          <div class='answer-card' ng-class="{selected: $index === selectedAnswer}" ng-click="czarPicking || chooseCard($index)">
            <h4 class="card-title">{{card.answer}} </h4>
            <h4 ng-show="$index === selectedAnswer && blanks > 1" class="text-center">{{userCardsPicked+1}}</h4>
            <h6>Cards Against Humanity</h6>

          </div>
        </div>
      </div>
   <button ng-click="submitAnswer()" ng-show="canSubmit()" class="btn btn-primary">Submit!</button>
</div>

</div>
  <div class="chat col-xs-2">
    <p class="marker"><strong>Players</strong></p>
    <p ng-repeat="user in users track by $index">
      <i class='fa fa-user'></i> {{user.nickname}} <span ng-show="user.nickname === mynickname"> (you)</span>
      <i class='fa fa-glass'></i>
      <span ng-show="!user.score">0 </span>{{user.score}}<span> appletinis</span>
    </p>

    <div class="col-xs-12">
      <form ng-submit='sendMessage()'>
        <div class='input-group'>
          <input class='input-sm form-control'
                      ng-model='message'
                      type='text'
                      placeholder="Type a message...">
          <span class='input-group-btn'>
            <input class='input-sm btn btn-default'
            type='submit'
            value='Send'>
          </span>
        </div>
      </form>
      <br>
      <div class='well chatbox' scroll-glue id='chat_history'>
        <ul class='list-unstyled'>
          <li ng-repeat='m in messages'>
            <b>{{m.from}} </b>:
            &nbsp;
            {{m.message}}
          </li>
        </ul>
      </div>
    </div>
  </div>

<div class="gandalf" ng-show="gandalfShow">
  <img src='http://i.imgur.com/0tykmxD.gif?noredirect'>
</div>
