<h2>Main</h2>

<section id="cards" class='container-fluid'>
  <div class='row'>
    <div class='col-sm-3'>
      <h2>The Question:</h2>
      <div class='card'>
        <h4 class="card-title">{{displayCard.question}}</h4>
        <h6>Cards Against Assembly</h6>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="row">
        <div class='col-sm-3' ng-repeat="(playerIndex, card) in pot">
            <div class='answer-card' ng-click="!czarPicking || selectWinningAnswer(playerIndex)">
              <h4 class="card-title">{{card.answer}}</h4>
              <h6>Cards Against Assembly</h6>
            </div>
          </div>
        </div>
      </div>
  </div>

    <h2>The Answers:</h2>
    <div ng-repeat="player in playerCards track by $index">
    <div class="row">
      <div class="col-xs-12">
        <p class="text-danger" ng-show="cardCzar === $index">YOU ARE CARD CZAR</p>
        <h3>Player {{ $index+1 }}'s hand <span>Points: {{ points[$index] }}</span></h3>
        
      </div>
    </div>
    <div class="row">
      <div class='col-sm-3' ng-repeat="card in player">
        <div class='answer-card' ng-class="{selected: selectedAnswers.hasOwnProperty(playerCards.indexOf(player)) && selectedAnswers[playerCards.indexOf(player)] === card}" ng-click="czarPicking || selectAnswers(playerCards.indexOf(player), card)">
          <h4 class="card-title">{{card.answer}}</h4>
          <h6>Cards Against Assembly</h6>
        </div>
      </div>
    </div>

</div>
</section>
