body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../img/wood-bg.jpg");
  /*background-size: cover;*/
  background-color: black;
}

.chat {
  background-color: rgba(0,0,0,.5);
  color: white;
  position: fixed;
  top: 0px;
  right: 0;
  height: 100vh;
}

.chat .col-xs-12 {
  padding-left: 5px;
  padding-right: 5px;
}

.chatbox {
  color: black;
  overflow: scroll;
  height: 70vh;
}

.jumbotron {
  background-color: rgba(0,0,0,0);
}

.white {
  color:white;
}

.navbar {
  background-color: rgba(0,0,0, 0.5);
  border-color: rgba(0,0,0,0);
  border-radius: 0px;
  width: 83.3%;
}

.nickname-input {
  padding: 4px;
  border-radius: 4px;
}

.nickname {
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 0px #000000;
}

header {
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  margin-bottom: 1.618rem;
}

header.navbar {
  border-radius: 0;
}

h1 {
  font-weight: bold;
  letter-spacing: -2px;
}

/*h1:after, .card h6:after,*/
.card h6:after,
.answer-card h6:after {
  content: "™";
  font-size: 1em;
  vertical-align: super;
  margin-left: 0.192em;
}

.card, .newBlackCard {
  color: white;
  background: #231e1e;
}

.answer-card, .newWhiteCard {
  background: white;
  color: black;
  width: 100%;
}

.card-back h4{
  font-size: 2em;
  line-height: 1.2em;
}

.card-back h3 {
  margin-top: 30px;
  text-align: center;
  display: none;
}

.card-back:hover h3{
  display: inline;
}

.card,
.answer-card, .card-back, .newBlackCard, .newWhiteCard {
  border: 1px solid black;
  border-radius: 15px;
  padding: 1rem;
  min-height: 20em;
  position: relative;
  margin-bottom: 10px;
}

.card h6,
.answer-card h6, {
  position: absolute;
  font-size: 0.6em;
  margin-top: 1.618em;
  opacity: 0.2;
  bottom: 0.618em;
  left: 1rem;
}
.card h6:after,
.answer-card h6:after {
  font-size: 60%;
  margin-left: 1px;
}

.card-back {
  text-align: left;
  vertical-align: top;
}

.row {
  margin: 0;
}

.selected {
  border: 1px red solid;
  color: red;
}

footer {
  text-align: center;
  margin-top: 2em;
  color: silver;
  font-size: 0.6em;
}
footer .heart {
  color:#cf2e31;
}

.jumbotron {
  padding-top: 10px;
}

.newBlackCard, .newWhiteCard{
  height: 300px;
  width: 400px;
}

.form-group {
  text-align: center;
}
